* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  color: #111111;
  font-family: "Space Grotesk", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  /* height: auto; */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.logo {
  width: 45px;
  margin-top: 0.4rem;
}
.nav-items {
  display: flex;
  gap: 1rem;
}

.nav-item {
  font-size: 1.2rem;
}
.nav-item:hover {
  border-bottom: 1px solid black;
  color: rebeccapurple;
}

.fa-bars {
  display: none;
  font-size: 2rem;
  color: rebeccapurple;
}
/* HERO SETION */
.hero-container {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 60px;
  gap: 1rem;
}

.info-container {
  /* background-color: orange; */
  flex: 1;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.info-container h1 {
  font-size: 45px;
}

.info-container p {
  font-size: 22px;
  line-height: 1.5;
}

.info-container button {
  max-width: max-content;
  padding: 15px 25px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.info-container button:hover {
  background-color: white;
  color: rebeccapurple;
  border: 1px solid rebeccapurple;
}

.img-container {
  flex: 1;
}

.hero-image {
}

.hero-container {
  flex-direction: flex;
}
/* HERO SECTION */

/* <!-- COURSES --> */
.course-title {
  text-align: center;
  margin-top: 2rem;
}
.course-container {
  /* padding: 0px 60px; */
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.course {
  width: 27%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.course-content h3 {
  border-bottom: 2px solid rebeccapurple;
}

.course-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.btn button {
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.course-content button:hover {
  background-color: white;
  color: rebeccapurple;
  /* border: 1px solid rebeccapurple; */
}

/* <!-- COURSES --> */

/* subscribe */
.subscribe-container {
  margin: 6rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  flex-wrap: wrap;
}
input {
  padding: 12px 70px;
  border: 2px solid rebeccapurple;
  outline: none;
}
.btn-sub {
  padding: 10px 30px;
  background-color: rebeccapurple;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
.btn-sub:hover {
  background-color: #fff;
  color: rebeccapurple;
  border: 1px solid rebeccapurple;
}
::placeholder {
  color: rebeccapurple;
}
/* subscribe */

/* <!-- FOOTER --> */
footer {
  margin-top: 5rem;
  background-color: rebeccapurple;
  /* height: 70px; */
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
.footer-container > section {
  flex: 1;
  padding: 0px 60px;
  color: #fff;
}
.company {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
}
.course-details > ul > li {
  margin: 0.4rem;
}
.Pages > ul > li {
  margin: 0.4rem;
}
.company-address p {
  margin-bottom: 0.5rem;
}

.social-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
hr {
  color: #fff;
  margin: 1rem;
}
.copy-right {
  height: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.fa-copyright {
  margin-right: 1rem;
}

/* <!-- FOOTER --> */

@media (max-width: 920px) {
  .nav-item {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .hero-container {
    flex-direction: column;
  }
  .info-container {
    margin-top: 2rem;
  }
  .course {
    width: 75%;
  }
  .info-container button {
    min-width: 100%;
  }
  .btn button {
    min-width: 100%;
    margin: 0.3rem;
  }
}

@media (max-width: 600px) {
  .info-container h1 {
    font-size: 45px;
  }
  .copy-right {
    flex-direction: column;
  }
}
@media (max-width: 300px) {
  input {
    padding: 10px 30px;
  }
}
