* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  color: #111111;
  font-family: "Space Grotesk", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.logo {
  width: 45px;
  margin-top: 0.4rem;
}
.nav-items {
  display: flex;
  gap: 1rem;
}

.nav-item {
  font-size: 1.2rem;
}
.nav-item:hover {
  border-bottom: 1px solid black;
  color: rebeccapurple;
}

.fa-bars {
  display: none;
  font-size: 2rem;
  color: rebeccapurple;
}
/* HERO SETION */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 60px;
  gap: 1rem;
  margin-top: 4rem;
}

.info-container {
  /* background-color: orange; */
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.info-container h1 {
  font-size: 45px;
}

.info-container p {
  font-size: 22px;
  line-height: 1.5;
}

.info-container button {
  max-width: max-content;
  padding: 15px 25px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.info-container button:hover {
  background-color: white;
  color: rebeccapurple;
  border: 1px solid rebeccapurple;
}

.img-container {
  flex: 1;
  /* padding: 20px; */
}

.hero-image {
  max-width: 450px;
}

.hero-container {
  flex-direction: flex;
}
/* HERO SECTION */

/* <!-- COURSES --> */
h2 {
  text-align: center;
  margin-top: 2rem;
}
.course-container {
  /* padding: 0px 60px; */
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.course {
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.course-content h3 {
  border-bottom: 2px solid rebeccapurple;
}

.course-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.btn button {
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.btn button hover {
  background-color: white;
  color: rebeccapurple;
  border: 1px solid rebeccapurple;
}

/* <!-- COURSES --> */

/* <!-- FOOTER --> */
footer {
  margin-top: 5rem;
  background-color: rebeccapurple;
  /* height: 70px; */
}
.footer-container {
  display: flex;
  padding: 2rem;
}
.footer-container > section {
  flex: 1;
  padding: 0px 60px;
  color: #fff;
}
.company {
}
.footer-logo {
}
hr {
  color: #fff;
  margin: 1rem;
}
.copy-right {
  height: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-copyright {
  margin-right: 1rem;
}
/* <!-- FOOTER --> */

@media (max-width: 700px) {
  .nav-item {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .hero-container {
    flex-direction: column;
  }
  .courses {
    width: 75%;
  }
}
@media (max-width: 450px) {
  .hero-image {
    max-width: 300px;
  }
}
